# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.zip
*.png
*.svg
*.jpg
*.html

# テスト用のディレクトリを除外
image_modules/compress_test/*
image_modules/download_test/*

# C extensions
*.so
.DS_Store
# Distribution / packaging
.Python

.env

venv/

